services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    env_file:
      - .env

  frontend:
    build: ./frontend
    volumes:
      - frontend-build:/app/dist

  nginx:
    build: ./nginx
    ports:
      - "${NGINX_PORT}:80"
    env_file:
      - .env
    depends_on:
      - frontend
    volumes:
      - frontend-build:/usr/share/nginx/html

volumes:
  frontend-build:
