services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    env_file:
      - .env

  frontend:
    build: ./frontend

  nginx:
    build: ./nginx
    ports:
      - "${NGINX_PORT}:80"
    env_file:
      - .env
    depends_on:
      - frontend
