@use "@styles/colors" as *;

.login-page {
    &__form-title {
        text-align: center;
        margin-bottom: 32px !important;
        color: #262626;
    }

    &__form {
        .ant-form-item-label > label {
            font-weight: 500;
            color: #434343;
        }
    }

    &__submit-btn {
        height: 45px;
        font-weight: 500;
        background: #1890ff;
        border-color: #1890ff;
    }

    &__register-btn {
        height: 45px;
        border-color: #d9d9d9;
        color: #434343;

        &:hover {
            border-color: #1890ff;
            color: #1890ff;
        }
    }

    &__forgot-btn {
        color: #1890ff;

        &:hover {
            color: #40a9ff;
        }
    }
}
