.map {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;

    &-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
