.my-events-page {
    padding: 24px;
    min-height: calc(100vh - 48px);

    &__container {
        width: 100%;
        height: 100%;
    }

    &__card {
        min-height: calc(100vh - 96px);
    }

    &__title {
        margin-bottom: 24px;
    }

    &__event-item {
        padding: 0 !important;
        margin-bottom: 12px;
    }

    &__event-card {
        width: 100%;
    }
}

