.modal-fullscreen-wrap .ant-modal {
    top: 0 !important;
    padding: 0 !important;
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    margin: 0 !important;
}

.modal-fullscreen-wrap .ant-modal-content {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
}

.modal-fullscreen-wrap .ant-modal-header,
.modal-fullscreen-wrap .ant-modal-footer {
    flex: 0 0 auto;
}

.modal-fullscreen-wrap .ant-modal-body {
    flex: 1 1 auto;
    overflow: auto;
    padding: 0 !important;
}

.modal-full-height-wrap .ant-modal {
    top: 0 !important;
}

.modal-full-height-wrap .ant-modal-content {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
}

.modal-full-height-wrap .ant-modal-body {
    flex: 1 1 auto;
    overflow: auto;
}
 