@use "@styles/variables" as vars;
@use "@styles/colors" as *;

.menu {
    .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
    }

    &__logo-container {
        padding: vars.$container-padding-vertical 0 0 0;
        justify-content: center;
        align-items: center;
        gap: vars.$flex-gap;

        &__image {
            width: 24px;
            height: 24px;
        }

        &__title {
            color: $rosatom-white !important;
            opacity: 1;
            white-space: nowrap;
            overflow: hidden;
        }

        &__title.collapsed {
            opacity: 0;
            width: 0;
            display: none;
        }
    }

    &__divider {
        margin-left: auto;
        margin-right: auto;
        min-width: 90%;
        width: 90%;
        border-block-start: 1px solid color-mix(in srgb, $rosatom-white 10%, transparent) !important;
    }

    &__gap {
        flex: 1;
    }
}

.content {
    &__wrapper {
        height: 100vh;
        min-height: 100vh;
        overflow-y: auto;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 3px;

        &:hover {
            background: #a8a8a8;
        }
    }

    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;

    scroll-behavior: smooth;
}
